<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST" action="/new">
      <input
        type="text"
        placeholder="Add a new message to the list"
        name="messageText"
      />
      <input type="text" placeholder="Enter User Name" name="username" />
      <input type="date" placeholder="dd/mm/yyyy" name="added" />
      <button>Submit</button>
    </form>
  </body>
</html>
